h3{
    font-size: 1.5em;
}
li a{
    color:black;
    text-decoration: none;
}
body{
    background: white url("../img/background2.jpg") no-repeat;
    background-size:cover;
}
li:hover{
    filter: brightness(12.5);
    transition: all 300ms ease-in-out;
}
li{
    padding: 0.7em;
    border: 0.1rem solid #13141f;
    border-radius: 2rem;
    border-bottom: 2rem;
}
ul{
    display:flex;
    padding-right: 20em;
    justify-content:space-evenly;
    flex-direction:column;
    align-items:flex-start;
}
a:hover{
    color:white;
}
a{
    font-size:1.3em;
    text-decoration:none;
    color:black;
}
label{
    font-size: 1.3em;
}
p{
    font-size: 1.3em;
}
ol{
    display:flex;
    padding-right: 20em;
    justify-content:space-evenly;
    flex-direction:column;
    align-items:flex-start;
}