{% load static %}
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='{% static 'enquetes/css/style.css' %}'>
        <title>DSWeb 2024.1</title>
    </head>
    <body>
        <h1>Disciplina DSWeb 2024.1</h1>
        <h3>Aplicações criadas</h3>
        <hr>
        <ol>
            <li><a href="/enquetes/">
                Aplicação de Enquetes
            </a></li>
        </ol>
        <hr>
        &copy; DSWeb/TADS/CNAT/IFRN - 2024.
    </body>
</html>